.side-bar
  .side-bar__header
    .side-bar__header--box
      %span.name 下中
      %ul.menu
        %li.menu__icon
          =link_to "#" do 
            = icon('far', 'edit') 
        %li.menu__icon
          =link_to "#" do  
            = icon('fas', 'cog')
  .side-bar__groups
    =link_to "#" do 
      .side-bar__groups--group
        %p.group-name techcamp
        %p.group-message まだッセージがありません


